/build
/kernel
/kernel-mainline
/out
/rkbin
/u-boot
/.repo
*.img
*.img.xz
*.deb
/package/rtk_bt
*.changes
/arm-trusted-firmware
/tmp

!/kernel/arch/arm64/boot/dts/rockchip/rk3328-rock64.dts
!/kernel/arch/arm64/boot/dts/rockchip/rk3328.dtsi
